DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

EMAIL_USER=
EMAIL_PASSWORD=

#for JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# for refresh token
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

#CLOUNDINARY
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=